#hud {
  z-index: 1;
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  
  border: 2px solid #333;
  
  font-size: 0; /* remove extra space from inline-block .hudCell */
}

.hudCell {
  display: inline-block;
  border: 2px solid #333;
  position: relative;
  
  background-color: rgba(0, 0, 0, 0.2);
}

#hudSelector {
  z-index: 2;
  position: absolute;
  top: -4px;
  left: -4px;
  
  border: 6px solid white;
}
